@import "tailwindcss";

@theme inline {
  --color-primary: #B32D0F;
  --color-primary-hover: #96250C;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey-100: #F5F5F5;
  --color-grey-200: #E5E5E5;
  --color-grey-300: #D4D4D4;
  --color-grey-800: #262626;
  --color-success: #25D366;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@utility animate-marquee {
  animation: marquee 30s linear infinite;
}

@keyframes marquee-brands {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

@utility animate-marquee-brands {
  animation: marquee-brands 80s linear infinite;
}
